@model List<Feature>
@{
    ViewData["Title"] = "Index";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bio Table</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Icon
                            </th>
                            <th>
                                Title
                            </th>

                            <th>
                                Description
                            </th>
                            <th>
                                Settings
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Feature features in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/assets/images/icons.png/@features.Icon" alt="image" />
                                </td>
                                <td>
                                    @features.Title
                                </td>

                                <td>
                                    @if (features.Description.Length > 20)
                                    {
                                        @features.Description.Substring(0, 20)

                                    }
                                    else
                                    {
                                        @features.Description
                                    }

                                </td>
                                <td>
                                    <a class="btn" asp-controller="Feature" asp-action="Detail" asp-route-id="@features.Id"> Detail </a>
                                    <a class="btn btn-update" asp-controller="Feature" asp-action="Update" asp-route-id="@features.Id"> Update </a>
                                    <a class="btn" asp-controller="Feature" asp-action="Delete" asp-route-id="@features.Id"> Delete </a>

                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

