@model List<Course>
@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Course Table</h4>
            <a class="btn btn-orange" asp-controller="Course" asp-action="Create" > Create New Course </a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Course Name
                            </th>

                            <th>
                                Description
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.CourseCount >=4)
                        {
                            foreach (Course courses in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img src="~/assets/images/Course/@courses.Image" alt="image" />
                                    </td>
                                    <td>
                                        @courses.Name.ToUpper()
                                    </td>

                                    <td>

                                        @(courses.Description.Length>20 ? courses.Description.Substring(0, 20)+"..." : courses.Description)
                                    </td>
                                    <td>
                                        <a class=" btn btn-orange" asp-controller="Course" asp-action="Detail" asp-route-id="@courses.Id"> Detail </a>
                                        <a class="btn btn-update" asp-controller="Course" asp-action="Update" asp-route-id="@courses.Id"> Update </a>
                                        <a class="btn btn-danger" asp-controller="Course" asp-action="Delete" asp-route-id="@courses.Id"> Delete </a>



                                    </td>
                                </tr>
                            }


                        }
                        else
                        {
                            @foreach (Course courses in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img src="~/assets/images/Course/@courses.Image" alt="image" />
                                    </td>
                                    <td>
                                        @courses.Name
                                    </td>

                                    <td>

                                        @(courses.Description.Length>20 ? courses.Description.Substring(0, 20)+"..." : courses.Description)
                                    </td>
                                    <td>
                                        <a class=" btn btn-orange" asp-controller="Course" asp-action="Detail" asp-route-id="@courses.Id"> Detail </a>
                                        <a class="btn btn-update" asp-controller="Course" asp-action="Update" asp-route-id="@courses.Id"> Update </a>
                                       

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
