@model Bio
@{
    ViewData["Title"] = "Update";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Bio</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label asp-for="@Model.Logo" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Photo" class="form-control">
                    </div>
                    <span class="text-danger" asp-validation-for="@Model.Photo"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Mail" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Mail" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.Mail"></span>
                    </div>
                   
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Phone" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Phone" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.Phone"></span>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Address" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Address" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.Address"></span>
                    </div>
                  
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Instagram" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Instagram" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.Facebook" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="@Model.Facebook" class="form-control">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a class="btn btn-update" asp-action="Index">Go Back</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_Validation" />
}